.canvasContainer {
    width: 100%;
    height: 100%;
    position: relative;
}

#Edit_Map_canvas {
    position: relative;
    z-index: 1;
    width: 400px;
    height: 400px;
}

#Edit_Map {
    position: relative;
}

#nodeCollection_open_button {
    width:100%;
    bottom: 0;
    text-align: center;
    position: absolute;
    border-top: 1px solid black;
    z-index: 2;
}

#trashBin {
    position: absolute;
    width: auto;
    bottom: 40px;
    right: 0;
    z-index: 3;
}

#nodeCollection_close_button{
    text-align: center;
    border-bottom: 1px solid black;
}

#nodeCollection {
    height: 40%;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-top: 1px solid black;
    background-color: white;
    z-index: 4;
}

.node {
    background-color: antiquewhite;
    border-bottom: 1px solid black;
    font-weight: bold;
    height: 15%;
    width: 100%;
    display: block;
    text-align: center;
}

#save_mode_button{
    position: absolute;
    right:0;
    z-index: 5;
    display: inline;
}